<!DOCTYPE html>
<html lang="en">
<link(rel="stylesheet", href="/css/style.css")>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to <%= title %>!</h1>
<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Resume</h1>
  <h2>Miguel Lee</h2>
  <hr />
  <br>
  <p class="head">Interests</p>
  <ul>
    <li>Gaming</li>
    <li>Reading</li>
    <li>Cooking</li>
  </ul>
  <p class="head">Skills</p>
  <ul>
    <li>Web Design with HTML & CSS</li>
  </ul>
  <p class="head">Education</p>
  <ul>
      <li>San Vicente Pilot School for Philippine Craftsmen</li>
    </a>
    <!--Link-->
      <li>Holy Angel University</li>
    </a>
  </ul>
</div>
<div class="right"></div>
<div id="footer">
  <h2 id="name">Miguel Lee</h2></div>
</body>
</html>

