<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Insert below the CDN link to Vue-->
<script src="https://unpkg.com/vue@3.0.2"></script>
<title>Vue JS Demonstration Discussion</title> </head>
<body>
    <!-- Create a div tag with "app" ID --> 
    <div id="app"> 
        <!-- controlled by Vue --> 
            <p>{{ title }} - {{ author }} - {{ age }}</p>
            <!-- Events on Vue using v-on -->
            <button v-on:click="age++">Get Older</button>
            <button v-on:click="age--">Get Younger</button>
            <button @click="title = 'The title has changed.'">Change Title</button>
            </div>
            <!-- this won't be controlled by Vue -->
            {{ age }}
    </div>
    <!-- Two-way data binding -->
        <div id="two-way-binding">
            <p>{{ message }}</p> 
            <input v-model="message" />
        </div>
    <!-- using v-if -->
    <div id="conditional-rendering">
    <span v-if="seen">Now you see me</span> 
    </div>
    
    <!-- this is hooked up to a method in the books.js --> 
    <div id="books">
    <div v-if="showBooks">
    <p>{{ btitle }} {{ bauthor }} {{ year }}</p>
    </div>
    <button @click="toggleShowBooks">
    <span v-if="showBooks">Hide Books</span>
    <span v-else>Show Books</span>
    </button>
    </div>

    <h1 v-show="ok">Hello!</h1>

    <!-- using v-for directive --> 
    <div id="list-rendering">
    <ol>
        <li v-for="todo in todos">
        {{ todo.text }}
        </li>
    </ol>
</div>
    
    <!-- Insert the below code to link to app.js --> 
    <script src="app.js"></script>
    <script src="two-way.js"></script>
    <script src="conditionalif.js"></script>
    <script src="books.js"></script>
    <script src="listfor.js"></script>
</body>
</html>